flow.json
[{"id":"d2b6c6a9.d531b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2e299254.21ad6e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2135ef5d.634de","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"a2a22835.7fe9e8","type":"sqlitedb","z":"","db":"/home/pi/Documents/blockchainlist","mode":"RWC"},{"id":"432193ca.762bdc","type":"inject","z":"d2b6c6a9.d531b8","name":"INSERT","topic":"INSERT INTO blockchainlist(currentdate, currenttime, device)  values(date('now'), time('now'), \"manual\")","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["7a9f633b.48c67c"]]},{"id":"bdadd3cf.c2848","type":"inject","z":"d2b6c6a9.d531b8","name":"SELECT","topic":"SELECT * FROM blockchainlist","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":400,"wires":[["7a9f633b.48c67c"]]},{"id":"d5273763.5c23a8","type":"inject","z":"d2b6c6a9.d531b8","name":"DELETE","topic":"DELETE from blockchainlist","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":500,"wires":[["7a9f633b.48c67c"]]},{"id":"e4609cb0.70109","type":"inject","z":"d2b6c6a9.d531b8","name":"DROP TABLE","topic":"DROP TABLE blockchainlist","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":600,"wires":[["7a9f633b.48c67c"]]},{"id":"7a9f633b.48c67c","type":"sqlite","z":"d2b6c6a9.d531b8","mydb":"2135ef5d.634de","sqlquery":"msg.topic","sql":"","name":"","x":530,"y":340,"wires":[["b77ab1c.b27585","c20ad5c3.905e18"]]},{"id":"b77ab1c.b27585","type":"debug","z":"d2b6c6a9.d531b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":400,"wires":[]},{"id":"af5edd34.fa116","type":"inject","z":"d2b6c6a9.d531b8","name":"CREATE","topic":"CREATE TABLE blockchainlist(id INTEGER PRIMARY KEY AUTOINCREMENT, currentdate DATE, currenttime TIME, device TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":200,"wires":[["7a9f633b.48c67c"]]},{"id":"c20ad5c3.905e18","type":"file","z":"d2b6c6a9.d531b8","name":"saving to DB","filename":"blockchain_db","appendNewline":true,"createDir":true,"overwriteFile":"true","x":850,"y":240,"wires":[[]]},{"id":"dc460953.3b9fe8","type":"function","z":"d2b6c6a9.d531b8","name":"constructor","func":"this.index= 0;\nthis.timestamp = timestamp;\nthis.data = data;\nthis.previousHash = \"0\";\nthis.hash = this.calculateHash();\nthis.nonce = 0;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[[]]},{"id":"a474ef56.34f21","type":"function","z":"d2b6c6a9.d531b8","name":"calculateHash","func":"const SHA256 = require('crypto-js/sha256')\n//return SHA256(this.index + this.previousHash + this.timestamp + this.data + this.nonce).toString();","outputs":1,"noerr":0,"x":1000,"y":60,"wires":[[]]},{"id":"2561183a.9d6548","type":"function","z":"d2b6c6a9.d531b8","name":"constructor1","func":"this.chain = [this.createGenesis()];","outputs":1,"noerr":0,"x":480,"y":600,"wires":[[]]},{"id":"26e38355.d8208c","type":"function","z":"d2b6c6a9.d531b8","name":"createGenesis","func":"return new Block(0, \"01/01/2017\", \"Genesis block\", \"0\")","outputs":1,"noerr":0,"x":700,"y":520,"wires":[[]]},{"id":"bbd20185.c00df","type":"function","z":"d2b6c6a9.d531b8","name":"latestBlock","func":"return this.chain[this.chain.length - 1]","outputs":1,"noerr":0,"x":720,"y":580,"wires":[[]]},{"id":"550aed87.2539b4","type":"function","z":"d2b6c6a9.d531b8","name":"addBlock","func":"newBlock.previousHash = this.latestBlock().hash;\nnewBlock.hash = newBlock.calculateHash();\nthis.chain.push(newBlock);","outputs":1,"noerr":0,"x":710,"y":640,"wires":[[]]},{"id":"c30fb656.317f58","type":"inject","z":"d2b6c6a9.d531b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":140,"wires":[[]]},{"id":"d9a7944f.e4c788","type":"rpi-sensehat in","z":"2e299254.21ad6e","name":"Temperature","motion":false,"env":true,"stick":false,"x":110,"y":380,"wires":[["b40a505c.5337d"]]},{"id":"1a17e554.dac36b","type":"function","z":"2e299254.21ad6e","name":"temperature","func":"var datenow = Date.now();\nvar tempInput = msg.payload;\nmsg.payload = tempInput.temperature;\nvar newMsg = {\n    \"payload\" :{\n        \"date\": datenow,\n        \"temperature\": msg.payload\n    },\n    \"topic\": \"INSERT INTO blockchainlist(currentdate, temperature) values ( \" + datenow + \", \" + msg.payload + \")\"\n        };\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[[]]},{"id":"5447c3da.f8b6cc","type":"inject","z":"2e299254.21ad6e","name":"INSERT","topic":"INSERT INTO blockchainlist(currentdate, currenttime, device)  values(date('now'), time('now'), \"manual\")","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[[]]},{"id":"9c4db387.f7e86","type":"inject","z":"2e299254.21ad6e","name":"CREATE","topic":"CREATE TABLE blockchainlist(id INTEGER PRIMARY KEY AUTOINCREMENT, currentdate DATE, temperature TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":160,"wires":[["57c369e7.b644b8"]]},{"id":"57c369e7.b644b8","type":"sqlite","z":"2e299254.21ad6e","mydb":"a2a22835.7fe9e8","sqlquery":"msg.topic","sql":"","name":"","x":740,"y":200,"wires":[["35a6cfa3.a77d"]]},{"id":"ac8a069.15c5bf8","type":"rpi-sensehat out","z":"2e299254.21ad6e","name":"","x":630,"y":600,"wires":[]},{"id":"b40a505c.5337d","type":"delay","z":"2e299254.21ad6e","name":"Delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":267.14281463623047,"y":335.71427154541016,"wires":[["1a17e554.dac36b","1bd60a4a.f4a596"]]},{"id":"d963537b.d43d","type":"function","z":"2e299254.21ad6e","name":"hatout","func":"var newMsg = {\n    \"payload\" :\n        '0,0,green'\n   };\nflow.set(\"X\", 0, \"Y\", 0);\nreturn newMsg;","outputs":1,"noerr":0,"x":304,"y":562.8571472167969,"wires":[["ac8a069.15c5bf8"]]},{"id":"9af24af0.e592f8","type":"inject","z":"2e299254.21ad6e","name":"","topic":"","payload":"hatout","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":139.99999237060547,"y":592.8571796417236,"wires":[["d963537b.d43d"]]},{"id":"24d0ab84.ab4f74","type":"function","z":"2e299254.21ad6e","name":"stick","func":"\nvar X = flow.get(\"X\")||0;\n\nvar Y = flow.get(\"Y\")||0;\nvar newmsg;\nif(msg.payload.key=='DOWN'&msg.payload.state==1){\n\n\n\n\n\n    if(X<7)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+(X+1)+','+Y+',blue'\n        }\n        X+=1;\n        flow.set(\"X\", X);\n    }\n}\n\nif(msg.payload.key=='UP'&msg.payload.state==1){\n    if(X>0)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+(X-1)+','+Y+',green'\n        }\n        X-=1;\n        flow.set(\"X\", X);\n    }\n}\n\nif(msg.payload.key=='RIGHT'&msg.payload.state==1){\n    if(Y>0)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+X+','+(Y-1)+',red'\n        }\n        Y-=1;\n        flow.set(\"Y\", Y);\n    }\n}\n\nif(msg.payload.key=='LEFT'&msg.payload.state==1){\n    if(Y<7)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+X+','+(Y+1)+',yellow'\n        }\n        Y+=1;\n        flow.set(\"Y\", Y);\n    }\n}\n\nif(msg.payload.key=='ENTER'&msg.payload.state==1){\n    \n        newmsg = {\n        \"payload\" : '*,*,off'\n        }\n    flow.set(\"X\", 0);\n    flow.set(\"Y\", 0);\n    \n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":389.1428571428571,"y":773.5714285714286,"wires":[["ac8a069.15c5bf8"]]},{"id":"b942010c.01f16","type":"rpi-sensehat in","z":"2e299254.21ad6e","name":"","motion":false,"env":false,"stick":true,"x":182.85714285714283,"y":758.5714285714286,"wires":[["24d0ab84.ab4f74"]]},{"id":"43212e63.f8f66","type":"inject","z":"2e299254.21ad6e","name":"","topic":"","payload":"R90","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":303.4285640716553,"y":642.8571443557739,"wires":[["ac8a069.15c5bf8"]]},{"id":"1bd60a4a.f4a596","type":"function","z":"2e299254.21ad6e","name":"temperature","func":"var tempInput = msg.payload;\nmsg.payload = tempInput.temperature;\nvar newMsg = {\n    \"payload\" :\n        msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":430.02166748046875,"y":480.01300048828125,"wires":[["ac8a069.15c5bf8"]]},{"id":"84eaf764.c4bb68","type":"udp in","z":"2e299254.21ad6e","name":"UDP IN","iface":"","port":"2345","ipv":"udp4","multicast":"false","group":"255.255.255.0","datatype":"utf8","x":250,"y":20,"wires":[["9881a42e.9847f8"]]},{"id":"147fc4fe.66f84b","type":"debug","z":"2e299254.21ad6e","name":"UDP IN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":40,"wires":[]},{"id":"35a6cfa3.a77d","type":"debug","z":"2e299254.21ad6e","name":"DATABASE OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":220,"wires":[]},{"id":"9881a42e.9847f8","type":"function","z":"2e299254.21ad6e","name":"CONVERT","func":"var input = msg.payload\nvar array = msg.payload.split(\"\\n\")\nvar date = array[0]\nvar temperature = array[1]\n\nvar newMsg = {\n    \"payload\" :{\n        \"date\": date,\n        \"temperature\": temperature\n    },\n    \"topic\": \"INSERT INTO blockchainlist(currentdate, temperature) values ( \" + date+ \", \" + temperature + \")\"\n        };\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["147fc4fe.66f84b","57c369e7.b644b8"]]}]