flow.json
[{"id":"2e299254.21ad6e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2135ef5d.634de","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"a2a22835.7fe9e8","type":"sqlitedb","z":"","db":"/home/pi/Documents/blockchainlist","mode":"RWC"},{"id":"d9a7944f.e4c788","type":"rpi-sensehat in","z":"2e299254.21ad6e","name":"Temperature","motion":false,"env":true,"stick":false,"x":92.00008392333984,"y":388.28574323654175,"wires":[["b40a505c.5337d"]]},{"id":"1a17e554.dac36b","type":"function","z":"2e299254.21ad6e","name":"CONVERT","func":"var input = msg.payload\nvar array = msg.payload.split(\"\\n\")\nvar date = array[0]\nvar temperature = array[1]\nvar mac = array[2]\nvar macSender = array[3]\nvar prevHash = array[4]\nvar macBlack = '\"b8:27:eb:0c:d2:ec\"'\n\nvar newMsg = {\n    \"payload\" :{\n        \"date\": date,\n        \"temperature\": temperature,\n        \"MAC\": mac\n    },\n    \"topic\": 'INSERT INTO blockchainlist(currentdate, temperature, MAC) values ('+date+','+temperature+','+mac+')'\n};\n\n\n\n// Import the global Crypto-js module defined on Node-Red settings.js file\nvar cryptojs = context.global.cryptojs;\n// Move data to base64\nvar bdata = new Buffer(msg.payload).toString('base64');\n// Encrypt the data with the device key.\nvar ciphertext = cryptojs.HmacSHA256(bdata, 'secret key clear');\n\n// The payload is now the encrypted data\nvar hashVal = \"\\\"\"+ciphertext.toString()+\"\\\"\"\nvar hash = {\n    \"payload\" :{\n        \"hash\": ciphertext.toString()\n    },\n    \"topic\": 'INSERT INTO blockchainlist(temperature, hash) values ('+temperature+', '+hashVal+')'\n}\n\nif( macSender == macBlack ) { \n    return [newMsg, hash]; }","outputs":2,"noerr":0,"x":992.2861099243164,"y":150.21436500549316,"wires":[[],["57c369e7.b644b8"]],"outputLabels":["Database","Hash"]},{"id":"6ccd9850.3feef8","type":"debug","z":"2e299254.21ad6e","name":"DATABASE OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1025.4290161132812,"y":269.8573246002197,"wires":[]},{"id":"9c4db387.f7e86","type":"inject","z":"2e299254.21ad6e","name":"CREATE","topic":"CREATE TABLE blockchainlist(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature TEXT, hash TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":518.1432876586914,"y":241.85723114013672,"wires":[["57c369e7.b644b8"]]},{"id":"57c369e7.b644b8","type":"sqlite","z":"2e299254.21ad6e","mydb":"a2a22835.7fe9e8","sqlquery":"msg.topic","sql":"","name":"Database","x":814.0003890991211,"y":268.14292430877686,"wires":[["6ccd9850.3feef8"]]},{"id":"ac8a069.15c5bf8","type":"rpi-sensehat out","z":"2e299254.21ad6e","name":"","x":713.5716571807861,"y":527.4286375045776,"wires":[]},{"id":"b40a505c.5337d","type":"delay","z":"2e299254.21ad6e","name":"Delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":264.14294815063477,"y":387.5000333786011,"wires":[["1bd60a4a.f4a596","2881d674.d7531a"]]},{"id":"d963537b.d43d","type":"function","z":"2e299254.21ad6e","name":"hatout","func":"var newMsg = {\n    \"payload\" :\n        '0,0,green'\n   };\nflow.set(\"X\", 0, \"Y\", 0);\nreturn newMsg;","outputs":1,"noerr":0,"x":433.00027084350586,"y":589.3571443557739,"wires":[["ac8a069.15c5bf8"]]},{"id":"9af24af0.e592f8","type":"inject","z":"2e299254.21ad6e","name":"","topic":"","payload":"hatout","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":237.50018501281738,"y":591.6071434020996,"wires":[["d963537b.d43d"]]},{"id":"24d0ab84.ab4f74","type":"function","z":"2e299254.21ad6e","name":"stick","func":"\nvar X = flow.get(\"X\")||0;\n\nvar Y = flow.get(\"Y\")||0;\nvar newmsg;\nif(msg.payload.key=='DOWN'&msg.payload.state==1){\n\n\n\n\n\n    if(X<7)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+(X+1)+','+Y+',blue'\n        }\n        X+=1;\n        flow.set(\"X\", X);\n    }\n}\n\nif(msg.payload.key=='UP'&msg.payload.state==1){\n    if(X>0)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+(X-1)+','+Y+',green'\n        }\n        X-=1;\n        flow.set(\"X\", X);\n    }\n}\n\nif(msg.payload.key=='RIGHT'&msg.payload.state==1){\n    if(Y>0)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+X+','+(Y-1)+',red'\n        }\n        Y-=1;\n        flow.set(\"Y\", Y);\n    }\n}\n\nif(msg.payload.key=='LEFT'&msg.payload.state==1){\n    if(Y<7)\n    {\n        newmsg = {\n        \"payload\" : X+','+Y+',off,'+X+','+(Y+1)+',yellow'\n        }\n        Y+=1;\n        flow.set(\"Y\", Y);\n    }\n}\n\nif(msg.payload.key=='ENTER'&msg.payload.state==1){\n    \n        newmsg = {\n        \"payload\" : '*,*,off'\n        }\n    flow.set(\"X\", 0);\n    flow.set(\"Y\", 0);\n    \n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":434.8929634094238,"y":657.5714273452759,"wires":[["ac8a069.15c5bf8"]]},{"id":"b942010c.01f16","type":"rpi-sensehat in","z":"2e299254.21ad6e","name":"","motion":false,"env":false,"stick":true,"x":248.35721588134766,"y":656.5714263916016,"wires":[["24d0ab84.ab4f74"]]},{"id":"43212e63.f8f66","type":"inject","z":"2e299254.21ad6e","name":"","topic":"","payload":"R90","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":255.92873573303223,"y":517.8571758270264,"wires":[["ac8a069.15c5bf8"]]},{"id":"9cb7fa75.2ddd18","type":"udp out","z":"2e299254.21ad6e","name":"UDP OUT","addr":"192.168.1.0","iface":"","port":"2345","ipv":"udp4","outport":"2345","base64":false,"multicast":"multi","x":970.5004653930664,"y":385.7501449584961,"wires":[]},{"id":"1bd60a4a.f4a596","type":"function","z":"2e299254.21ad6e","name":"temperature","func":"var datenow = Date.now();\nvar tempInput = msg.payload;\ndatenow = datenow.toString();\ntemperaturenow = tempInput.temperature.toString();\nvar mac = '\"b8:27:eb:97:fd:69\"';\n\nvar newMsg = {\n    \"payload\" :{\n        \"date\": datenow,\n        \"temperature\": temperaturenow,\n        \"MAC\": mac,\n        \"MACsender\": mac\n    },\n    //\"topic\": \"INSERT INTO blockchainlist(currentdate, temperature) values ( \" + datenow + \", \" + tempInput.temperature + \")\"\n      \"topic\": 'INSERT INTO blockchainlist(currentdate, temperature, MAC) values ('+datenow+','+tempInput.temperature+','+mac+')'\n\n        };\nreturn newMsg;","outputs":1,"noerr":0,"x":453.2719192504883,"y":388.2630977630615,"wires":[["78c408b1.d67138"]]},{"id":"78c408b1.d67138","type":"split","z":"2e299254.21ad6e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":635.7432098388672,"y":387.00703525543213,"wires":[["1806b2e0.33336d"]]},{"id":"1806b2e0.33336d","type":"join","z":"2e299254.21ad6e","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":801.7467079162598,"y":386.96879386901855,"wires":[["9cb7fa75.2ddd18"]]},{"id":"cf6ad8db.8bd958","type":"udp in","z":"2e299254.21ad6e","name":"UDP IN","iface":"","port":"2346","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":161.98726654052734,"y":151.70142459869385,"wires":[["9b7e7a87.547398"]]},{"id":"2881d674.d7531a","type":"function","z":"2e299254.21ad6e","name":"scrollTemp","func":"var tempInput = msg.payload;\nmsg.payload = tempInput.temperature;\nvar newMsg = {\n    \"payload\" :\n    msg.payload\n    \n};\nreturn newMsg;","outputs":1,"noerr":0,"x":451.9845657348633,"y":466.2153606414795,"wires":[["ac8a069.15c5bf8"]]},{"id":"70b6667f.b4c7c8","type":"sqlite","z":"2e299254.21ad6e","mydb":"a2a22835.7fe9e8","sqlquery":"msg.topic","sql":"","name":"get","x":495.50043869018555,"y":109.00011825561523,"wires":[["e02f2235.760a"]]},{"id":"9b7e7a87.547398","type":"function","z":"2e299254.21ad6e","name":"getPrevHash","func":"var resend = {\n    \"payload\" : msg.payload\n}\nvar getMsg = {\n    \"payload\" :{},\n    \"topic\": 'SELECT hash FROM blockchainlist ORDER BY id DESC LIMIT 1'\n}\nreturn [getMsg, resend]","outputs":2,"noerr":0,"x":314.5001449584961,"y":151.33338260650635,"wires":[["70b6667f.b4c7c8"],["f68e30dd.d9e6b"]],"outputLabels":["get","rehash"]},{"id":"f68e30dd.d9e6b","type":"join","z":"2e299254.21ad6e","name":"rehash","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":827.5002098083496,"y":153.00004959106445,"wires":[["1a17e554.dac36b","6ccd9850.3feef8"]]},{"id":"e02f2235.760a","type":"function","z":"2e299254.21ad6e","name":"prevHash","func":"var input = msg.payload\nif(input !== []){\n    var hash = input[0].hash\n    var newMsg = {\n    \"payload\": hash\n    }\nreturn newMsg\n}\n\n","outputs":1,"noerr":0,"x":643.5004463195801,"y":109.00013828277588,"wires":[["f68e30dd.d9e6b","7f9a97b.4c2b968"]]},{"id":"b7dd277f.520018","type":"inject","z":"2e299254.21ad6e","name":"INITIALISE","topic":" INSERT INTO blockchainlist(temperature, hash) values (\"0.00\", \"Initialising Table\")","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":528.5003433227539,"y":285.00006771087646,"wires":[["57c369e7.b644b8"]]},{"id":"7f9a97b.4c2b968","type":"debug","z":"2e299254.21ad6e","name":"DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":778.0002098083496,"y":38.00002956390381,"wires":[]},{"id":"5fbb0fe7.b24ef","type":"comment","z":"2e299254.21ad6e","name":"Set Up","info":"In the CONVERT node, you will have ensure\nthat you have the correct MAC addresses of\nthe \"Trusted\" nodes to accept messages from.","x":1005.5,"y":94.66667175292969,"wires":[]}]